/.ai/mcp/mcp.json
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_02_26,_9_57 pm_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_02_26,_9_57 pm_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_02_26__9_57pm__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
